:root {
    --fs-sm: clamp(0.8rem, 0.15vi + 0.77rem, 0.89rem);
    --fs-base: clamp(1rem, 0.31vi + 0.94rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.55vi + 1.14rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 0.91vi + 1.38rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.43vi + 1.67rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.18vi + 2.01rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.24vi + 2.4rem, 5rem);
}

body {
    background-color: #f0f0ff;

    font-family: system-ui, 'Trebuchet MS', 'Segoe UI', Roboto, Helvetica, Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    height: 100svh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

body > h1 {
    font-size: var(--fs-xl);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

body > button {
    cursor: pointer;
    margin-bottom: 1rem;
    background-color: transparent;
    border: 1.5px solid black;
    border-radius: 0.35rem;
    padding: 0.15rem 0.35rem;

    transition: 0.2s;
}

body > button:hover {
    transform: translateY(-0.15rem);
}

body > button > a {
    text-decoration: none;
    color: black;
}

.all-messages {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    gap: 1.25rem;
}

.message-cont {
    min-width: 260px;
    max-width: 300px;
    padding: 0.35rem;
    border: 1px solid black;
    border-radius: 0.35rem;
}

.message-cont > h2 {
    font-size: var(--fs-md);
}

.message-time {
    text-align: end;
    margin-top: 0.5rem;
    font-size: var(--fs-sm);
    font-style: italic;
}

form {
    width: 240px;
    border: 1px solid black;
    border-radius: 0.35rem;
    padding: 0.35rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form > label > input,
form > label > textarea {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
}

form > label > input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    transition: 0.2s;
}

form > label > input:focus {
    border-bottom: 1px solid blue;
}

form > button {
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
    border-radius: 0.35rem;
    padding: 0.15rem 0.35rem;
}

.home-button { 
    margin-top: 1.5rem;
}